/* body and page styling */

body {
	/*background-color: rgba(255,29,35,0.4);*/
	background: linear-gradient(rgba(255,29,35,0.4), #777);
}
#page { 
	background-image: url("../images/chef_512x512x32.png");
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
	text-align: center;
}	
#middle {
    border-style: solid;
    border-width: 5px;
    border-color: #000;
    border-radius: 6px;
    background: linear-gradient(#bcc6cc, #777);
    padding: 5px;
    margin: 20px 10px 5px 10px;
}
/* navigation bar styling */

nav li {
    color:#94090d;
    font-size: 18px;
    font-family: Arial, Verdana, sans serif;
    list-style: none;
    display: inline;
    text-shadow: 2px 2px 6px #000;
    border-style: solid;
    border-width: 5px;
    border-color: #000;
    background-color: rgba(148,9,13,0.7);
    border-radius: 6px;
    box-shadow: 5px 5px 5px 5px #000;
    padding: 5px;
    margin: 20px 4px 5px 4px; 
}

/* headers styling */

h1 {
	background-image: url("../images/risen.gif");
    color: #ebf3ff;
    background-color: rgba(148,9,13,0.7);
    font-size: 84px;
    font-family: 'Pacifico', cursive;
    text-shadow: 5px 5px 10px #000;
    border-width: 20px 16px 20px 16px;
    border-style: ridge;
    border-color: #450003 #000000;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 5px #000;
    width: 80%;
    height: 70%;
    padding: 25px 80px;
    margin: 30px auto;
}
h2 {
	background-color: #ebf3ff;
    color:#94090d;
    font-weight: bold;
    font-size: 36px;
    font-family: Comic Sans MS, Arial, sans serif;
    text-shadow: 2px 2px 6px #000;
    text-align: center;
    background-image: url("../images/1431907239_chicken-24.png");
	background-repeat: no-repeat;
	background-position: 35%;
	border-width: 5px 5px 5px 5px;
	border-style: solid;
    border-color: #450003 #000000;
    border-radius: 6px;
}
h3,h4 {
    color:#d40d12;
    font-style: italic;
    font-size: 30px;
    font-family: Arial, Verdana, sans serif;
    text-align: center;
}
h5 {
    color:#d40d12;
    font-size: 18px;
    font-family: Arial, Verdana, sans serif;
}

/* paragraph and caption styling */

p {
	background-image: url("../images/risen.gif");
    color:#fff;
    line-height: 2;
    font-family: Helvetica, Verdana, sans serif;
    font-size: 20px;
    text-align: justify;
    text-indent: 25px;
    border-radius: 10px;
    border-style: ridge;
    border-color: #450003 #000000;
    padding: 20px;
}

figcaption {
    color:#450003;
    font-family: Helvetica, Verdana, sans serif;
    font-size: 16px;
}

/* pseudo class styling */

a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: underline;
}
a:hover {
    color: #bcc6cc;
    text-decoration: none;
}
a:active {
    color: black;
    text-decoration: none;
}

/* list styling */

ol {
    font-size: 20px;
    font-family: Helvetica, Verdana, sans serif;
    line-height: 2;
    list-style-type: none;
}
ul {
    font-size: 20px;
    font-family: Helvetica, Verdana, sans serif;
    line-height: 2;
    list-style-type: none;
}
.list {
	text-align: center;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

/* gallery styling */

.frame {
	border: 3px solid #5c0002;
	display: block;
	width: 300px;
	height: 200px;
	margin: 60px auto 40px auto;
}
.next-frame {
	border: 3px solid #5c0002;
	display: block;
	width: 200px;
	height: 100px;
	margin: 60px auto 40px auto;
}

/* float styling */

aside {
	float: left;
	width: 34.7%;
	margin: 1.389%;
}

/* table styling */

table {
	background-image: url("../images/risen.gif");
    color:#fff;
	font-family: Helvetica, Verdana, sans serif;
    font-size: 20px;
    text-align: center;
    border: 3px solid #5c0002;
    border-radius: 10px;
    border-style: solid;
    border-color: #450003;
    padding: 20px;
	float: left;
	width: 34.7%;
	margin: .694%;
}
#hours {
	width: 34.7%;
    height: 100px;
	margin: .694%;
	float: left;
}

/* form styling */

form {
	float: left;
	width: 34.7%;
	margin: .694%;
}

/* bottom of page styling */

footer {
	margin-top: 100px;
	clear: left;
}
#top-of-page {
	margin-top: 100px;
	clear: left;
}
#credits {
	color:#d40d12;
    font-size: 2px;
    font-family: Arial, Verdana, sans serif;
}