
body{
	font-family: Arial, Verdana, sans-serif;
}
h1{
	color: #ee3e80
}
p{
	color: #665544
}
strong{
	color: green;
}
em{
	color: violet;
}
#container{
	border: 1px solid #665544;
	background-color: #efefef;
	padding: 10px
}

table {
	border: 0px
}
th, td {
	padding: 5px 30px 5px 10px;
	font-size: 0.9em;
	background-color: #e0e9f0;
	border-top: 1px solid #f1f8fe;
	border-bottom: 1px solid #cbd2d8;
	border-right: 1px solid cbd2d8;
	text-shadow: 1px 1px 1px #fff;
}
th	{
	text-align: left;
}
tr.even {
	background-color: #e8eff5;
}
	